services:
  db:
    image: mysql:8.0
    container_name: studybuddy_db
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: studybuddy
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-u", "root", "-ppassword"]
      interval: 5s
      retries: 10

  backend:
    build: ./backend
    container_name: studybuddy_backend
    volumes:
      - ./backend:/app
    ports:
      - "5000:5000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      FLASK_ENV: development
      FLASK_DEBUG: "1"
      DATABASE_URL: mysql+pymysql://user:password@db:3306/studybuddy
      FLASK_APP: app.py
    command: flask run --host=0.0.0.0 --port=5000 --debug  # Hot reload


  frontend:
    build:
      context: ./frontend
    container_name: studybuddy_frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      CHOKIDAR_USEPOLLING: "true"
      WATCHPACK_POLLING: "true"
      NODE_ENV: "development"
      REACT_APP_API_URL: "http://localhost:5000"
    stdin_open: true
    tty: true
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  db_data:
